.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    border: 2px solid lighten($orange-2, 20%);
    margin: 1rem;
    min-height: 32rem;
    width: 30rem;
    border-radius: .3rem;
    background-color: $white-1;
    box-shadow: 2px 1px 3px 1px rgba($black-1, .3);

    @media screen and (min-width: 1180px) {
        margin: 1rem 2.5rem;
    }

    & > * {
        margin-bottom: 1rem;
    }

    &__image {
        margin-top: 1rem;
        width: 5rem;
    }

    &__heading {
        font-size: 2.2rem;
    }

    &__description {
        text-align: center;
        font-size: 1.4rem;
        line-height: 1.6;
    }
}