.main-container {
    width: 100%;
    min-height: 75rem;
    max-height: 75rem;
    background-color: $teal;
    padding: 6rem 1.5rem 0 1.5rem;
    background-image: url(../../assets/wicit.png);
    background-size: contain;
    background-position: bottom 5rem right;
    background-repeat: no-repeat;

    @media screen and (min-width: 1180px) {
        background-size: 50%;
        background-position: top right;
    }
}

.card-container {
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom, transparent, rgba($blue-1, 0.5) 10%, $blue-1);

    @media screen and (min-width: 1180px) {
        background: linear-gradient(to bottom, transparent 50%, $blue-1 50%);
        margin-top: -22rem;
    }

    @media screen and (min-width: 950px) {
        flex-direction: row;
    }
}

.info-container {
    background-color: $blue-1;
    background-image: url(../../assets/market.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    padding: 5rem 2rem;
    width: 100%;
    height: 85rem;

    &__main {
        width: 100%;
        margin: 1rem auto;
        max-width: 95rem;
    }

    @media screen and (min-width: 1180px) {
        background-size: 50%;

        &__main {
            width: 66%;
        }
    }
}
